<p>&copy;2024 Jake's Poke Deck Builder -- WDD330</p>
<p>Contact Us fakeemail@googel.com</p>
<div class="socialtags">
    <p>Follow Us</p>
    <a href="https://facebook.com" target="_blank">
        <img class="footer-logos" src="/public/images/facebook_logo_primary.png" alt="fb icon">
    </a>
    <a href="https://twitter.com" target="_blank">
        <img class="footer-logos" src="/public/images/logo-black-x.png" alt="twitter icon">
    </a>
    <a href="https://instagram.com" target="_blank">
        <img class="footer-logos" src="/public/images/instagram_glyph_gradient.png" alt="instagram icon">
    </a>
</div>
<p>This is just a student project</p>